@model IEnumerable<LibraryJulesVerne.Models.UnreturnedBook>
@{
    ViewData["Title"] = "Взети книги";
}

<h1>Взети книги</h1>
<div class="row">
    <table id="booksTable" class="table table-striped">
        <thead>
            <tr>
                <th>Заглавие</th>
                <th>Автор</th>
                <th>Читател</th>
                <th>Дата на вземане</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var book in Model)
            {
                <tr>
                    <td>@book.Title</td>
                    <td>@book.Author</td>
                    <td>@book.FirstName @book.LastName</td>
                    <td>@book.BorrowedDate</td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div>
    <a asp-action="Index">Начало</a>
</div>
